# Notebooks
*.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Experiments 
out_dir/
exp/
misc/
runs/
# configs/

# IPython
profile_default/
ipython_config.py
__pycache__

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# LaTex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# jetbrains IDE stuff
*.iml
.idea/
lib/
bin/
*.cfg

# ms IDE stuff
*.code-workspace
.history
.vscode

# macOS stuff
.DS_Store
